.container {
  padding: 0 20px;
  max-width: 750px;
  margin: 0 auto;
}

.header {
  margin-bottom: 50px;
}

.header p {
  opacity: 0.7;
  line-height: 1.5;
}

.plus {
  font-size: 20px;
  margin: 0 20px;
}

.heading {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
  text-transform: uppercase;
  font-size: 15px;
  opacity: 0.6;
  letter-spacing: 0.5px;
}

@media (prefers-color-scheme: dark) {
  .heading {
    border-color: #343539;
  }
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 50px;
}

.postTitle {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.postTitle a {
  color: inherit;
}

.postDescription {
  margin-top: 0;
  margin-bottom: 12px;
  opacity: 0.65;
}

.cp_ipselect {
  overflow: hidden;
  width: 90%;
  margin: 2em auto;
  text-align: center;
}
.cp_ipselect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}
.cp_ipselect select::-ms-expand {
  display: none;
}
.cp_ipselect.cp_sl02 {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}
.cp_ipselect.cp_sl02::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}
.cp_ipselect.cp_sl02:after {
  position: absolute;
  top: 0;
  right: 2.5em;
  bottom: 0;
  width: 1px;
  content: "";
  border-left: 1px solid #bbbbbb;
}
.cp_ipselect.cp_sl02 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}
