.ul {
  list-style: none;
  overflow: hidden;
}

.ul li {
  width: 140px;
  text-align: center;
  background-color: #333;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}

.ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}

