.container {
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

.container h1 {
  font-size: 32px;
}

.container img {
  width: 100%;
  height: auto;
}

.container figure {
  margin-left: 0;
  margin-right: 0;
}

.container figcaption {
  opacity: 0.6;
}

.name {
  font-size: 36px;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
  .code {
    background-color: rgb(15, 8, 28);
  }
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}
