@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  padding: 0;
  margin: 0;
  
}

body {
  background-color: white;
  
}

* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
