@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: white;
  
}

* {
  box-sizing: border-box;
  
}
